.vagrant

.DS_Store



**/.*.swp
**/.ropeproject
**/.cache
*.pyc
/venv
/docker-compose-*.yml

.cache
.molecule
venv/
__pycache__
.vscode/tags
*.retry
.cache/
.molecule/
.tox/
tests/.cache/
tests/__pycache__/
playbook.retry

.cache.sh
system/.custom
.vscode
.vscode/

# ansible playbooks 
ansible/hosts.private
ansible/roles/avanov.pyenv/
ansible/roles/elliotweiser.osx-command-line-tools/
ansible/roles/geerlingguy.homebrew/
ansible/roles/geerlingguy.mas/
ansible/roles/mjanser.powerline/
ansible/roles/nass600.powerline/
ansible/roles/pablocrivella.nvm/
ansible/roles/radamanth.node-nvm-ansible/
ansible/roles/suzuki-shunsuke.pyenv-module/
ansible/roles/tvieira.powerline-fonts/
ansible/roles/ulimit/
ansible/roles/viasite-ansible.zsh/
ansible/roles/zzet.rbenv/

# dotfiles cache
.cache.sh.bak

# work stuff for now
system/.aliases.work
bin/klam-ext
ansible/try.sh
ansible/provision.sh.bak